.Character{
	font-size: 10em;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #AAAAAA;
}

.Result{
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.Remaining{
	text-align: center;
}

.Correct{
	color: #009900;
}

.Wrong{
	color: #990000;
}