.Answer {
	width: 38px;
	height: 30px;
	float: left;
	cursor: pointer;
	outline: 1px solid #000000;
	color: #000000;
	text-align: center;
	margin-top: 2px;
	margin-right: 2px;
}

.Answer:hover {
	outline: 1px solid #FF0000;
	color: #FF0000;	
}

.Greyed, .Greyed:hover {
	outline: 1px solid #AAAAAA;
	color: #AAAAAA;
	cursor: default;
}